@charset "UTF-8";

@import "reset";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Noto+Sans+KR&display=swap');

body{
    width: 100%;

    #profile{
        width: 100%;
        height: 420px;
        background: #f1f1f1;
        padding: 30px 5vw;

        >.inner{
            width: 100%;
            height: 100%;
            margin: 0 auto;
            position: relative;
            // border: 1px solid red;

            &::after{
                content: '';
                display: block;
                clear: both;
            }
            article{
                width: 25%;
                float: left;
                // border: 1px solid red;

                h1{
                    font: bold 120px/1 'DM Sans';
                    display: inline-block;
                    
                }

                .img{             
                    width: 350px;
                    height: 350px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }    

                &:last-child{width: 50%;}
                .introduce{
                    width: 90%;
                    padding: 20px;
                    position: relative;
                    // border: 1px solid red;
                    transform: translate(10%,70%);

                    &::after{
                        content: '';
                        display: block;
                        width: calc(100% - 40px);
                        height: 3px;
                        background: #666;
                        position: absolute;
                        top: 60px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    h2{
                        font: bold 25px/1 'DM Sans';
                        letter-spacing: 2px;
                        margin-bottom: 30px;
                    }
                    p{
                        font: normal 16px/1.4 'NOTO SANS';
                    }
                }                     
            }

  
        }

    }

    #summary{
        width: 100%;
        background: #f1f1f1;
        padding: 30px 3vw;
        border-top: 1px solid #545454;

        >.inner{
            width: 100%;
            height: 100%;
            margin: 0 auto;
            position: relative;

            &::after{
                content: '';
                display: block;
                clear: both;
            }

            // 공통사항
            article{
                width: 50%;
                margin-bottom: 30px;
                // border: 1px solid red;
                float: left;
                position: relative;

                .title{
                    width: 40px;
                    height: 100%;
                    border-right: 3px solid #000;
                    float: left;
                    h2{
                        writing-mode: vertical-lr;
                        text-orientation: mixed;
                        transform: rotate(180deg);
                        font: bold 20px/1 'DM Sans';
                        text-align: left;
                        letter-spacing: 5px;
                    }                    
                }
                

                .wrap{
                    display: inline-block;
                    // border: 1px solid blue;
                    width: calc(100% - 40px);
                    height: 100%;
                    padding: 40px;
                }
            }

            .profile{
                height: 300px;
                .wrap{
                    table{
                        width: 100%;
                        height: 100%;
                        // border: 1px solid red;
                        tr{
                            th{
                                font: bold 16px/1 'DM sans';
                                color: #444;
                                text-align: left;
                                width: 30%;
                                letter-spacing: 1px;
                            }
                            td{
                                font: normal 16px/1 'NOTO SANS';
                                color: #333;
                                a{
                                    color: #333;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }            
                }
            }
            .skills{
                height: 300px;
                .wrap{
                    .logo{
                        // border: 1px solid red;
                        width: 25%;
                        height: 50%;
                        float: left;
                        padding: 10px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: space-between;
                        
                        img{
                            width: 80px;
                            height: 80px;
                            object-fit: contain;
                        }
                        progress{
                            width: 60%;
                            margin-top: 10px;
                            appearance: none;
                            border-radius: 10px;
                            height: 10px;

                            &::-webkit-progress-bar{
                                background-color: whitesmoke;
                                border-radius: 5px;
                            }
                            &::-webkit-progress-value{
                                border-radius:5px; 
                                background: #c9c9c9; 
                            }
                        }
                    }
                }
            }
            .portfolio{
                width: 100%;
                height: 100%;
                margin-bottom: 0;
                .wrap{
                    padding: 0 20px;
                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    }
                    article{
                        float: left;
                        width: 100%;
                        height: 100%;
                        border: 1px solid #c9c9c9;
                        padding: 30px;
                        &:last-child{margin-bottom: 0;}
                        .pic{
                            width: 400px;
                            height: 250px;
                            position: relative;
                            transition: 1s;
                            float: left;

                            &:hover{
                                a{opacity: 1;}
                            }
                            a{
                                display: block;
                                width: 100%;
                                height: 100%;
                                background: rgba(0,0,0,.5);                  
                                display: flex;
                                justify-content: center;
                                align-items: center;      
                                position: absolute;
                                top: 0; 
                                left: 0;      
                                opacity: 0;
                                transition: .5s;
                                font: bold 20px/1.2 'NOTO SANS';
                                letter-spacing: 1px;
                                color: #efefef;
                            }
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }   

                        }
                        .con{
                            border: 1px solid red;
                            width: calc(100% - 400px);
                            height: 100%;
                            float: right;
                            padding: 20px;

                        }
                    }          
                }
            }
        }
    }
}